h1 {background-color: #FFFFFF;
opacity: 0.7;
text-align: center;
font-size:70px;
color:red;}
a{color:black;
padding-left:152.5px;
padding-right:152.5px;
padding-bottom:10px;
padding-top:10px;
}
table{background-color:red;}
p{background-color: #FFFFFF;
  width: 100%;
  opacity: 0.6;
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  border-style: solid double solid double;}
h5{background-color: #FFFFFF;
opacity: 0.7;}
.form-signin, .form-menu, .form-date, .form-money{
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border-style: solid double solid double;
}
.form-chair{
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  border-style: solid double solid double;
}
h1 {background-color: #FFFFFF;
opacity: 0.6;
text-align: center;
font-size:70px;
}
h6{background-color: #FFFFFF;
color:black;
text-align: center;
font-size:30px;
}
h4{
color: red
}
h3{
color: red
}

h2{
color: #FFFFFF
}

h5{background-color: #FFFFFF;
opacity: 0.6;
text-align: center;}
  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
	  